<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Registration </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/home-page/dashboard/register-page']"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home-page/dashboard/list']"
            >Registration List</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          class="btn btn-outline-success"
          type="submit"
          [routerLink]="['/login']"
        >
          Log Out
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div> -->

<div class="d-flex" style="min-height: 100vh;">
  <!-- Sidebar -->
  <nav class="sidebar bg-light p-3">
    <h5 class="mb-4">Registration</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link" [routerLink]="['/home-page/dashboard/register-page']">
          Register
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" [routerLink]="['/home-page/dashboard/list']">
          Registration List
        </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success w-100" [routerLink]="['/login']">
          Log Out
        </button>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
